services:
    php:
        image: ghcr.io/elbformat/field-helper-bundle/php:8.3
        platform: linux/amd64 # for running on m3
        tty: true # for running on m3
        environment:
            SYMFONY_ENV: "prod"
            TZ: "Europe/Berlin"
            DATABASE_HOST: "mysql"
            DATABASE_NAME: "ezp"
            DATABASE_USER: "ezp"
            DATABASE_PASSWORD: "ezp"
            XDEBUG_CONFIG: "client_host=172.17.0.1 idekey=PHPSTORM"
            XDEBUG_MODE: "debug"
        volumes:
            - ./:/var/www

    mysql:
        image: mariadb:10.5.8
        platform: linux/amd64 # for running on m3
        environment:
            MYSQL_ROOT_PASSWORD: "root"
            MYSQL_DATABASE: "ezp"
            MYSQL_USER: "ezp"
            MYSQL_PASSWORD: "ezp"
            TZ: "Europe/Berlin"
